<a href="https://colab.research.google.com/github/alixosravi/python-L/blob/main/Intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'ali '+'khosravi'

'ali khosravi'

In [ ]:
first_name = 'Ali'
last_name ='Khosravi'
win_ver = 11
build_num = 1945654.65245

x, y, z =34, 4.5, 1.234
x, y, z

(34, 4.5, 1.234)

In [ ]:
full_name = first_name + ' ' + last_name
full_name

'Ali Khosravi'

In [ ]:
print(full_name)

Ali Khosravi

In [ ]:
message = f'{first_name} is using windows {win_ver} build: {build_num:0.2f}'
print(message)

Ali is using windows 11 build: 1945654.65

In [ ]:
input_name = input('Enter your name:')
print(f'Hello {input_name}')

Enter your name:ali
Hello ali

In [ ]:
float(9599)

9599.0

In [ ]:
number_of_pets =int(input('How many pets do you have?'))
print(f'I guess you have {number_of_pets//2} dogs!')

How many pets do you have?4
I guess you have 2 dogs!

False

In [ ]:
p_cat =0.5
p_dog =0.5

if p_cat > p_dog:
  print("It's a cat!")
elif p_cat < p_dog:
  print("It's a dag!")
else:
  print("I can't decide :(")

I can't decide :(

In [ ]:
while True:
  input_str =input("Enter p_cat:")
  if input_str == "exit":
    break

  p_cat = float(input_str)
  if (p_cat <0) or (p_cat >0):
    print('p_cat must be between 0 and 1')
    continue
    
  p_dog = 1 - p_cat

  if p_cat > p_dog:
    print("It's a cat!")
  elif p_cat < p_dog:
    print("It's a dag!")
  else:
    print("I can't decide :(")

Enter p_cat:0.9
p_cat must be between 0 and 1
Enter p_cat:5545
p_cat must be between 0 and 1
Enter p_cat:-666
p_cat must be between 0 and 1
Enter p_cat:exit

In [ ]:
for i in range(6, -5,-1):
  print(i)

6
5
4
3
2
1
0
-1
-2
-3
-4

In [ ]:
for _ in range(3):
  print(_)

0
1
2

In [ ]:
for _ in range(3):
  print("I like python!")

I like python!
I like python!
I like python!

In [ ]:
def print_name(name):
  '''
  Simple function to print name
  input: name
  '''
  # Simple function to print name
  print(f"Hello! {name}")

print_name("Ali")

Hello! Ali

In [ ]:
def prob_to_name(p_cat: float, breed: str, owner=None, pet_age=5) -> str:
  ''' 
  predict between cat and dog and print message
  '''
  if  p_cat > 0.5:
    prediction = 'Cat'
  elif p_cat < 0.5:
    prediction = 'Dog'
  else:
    prediction = "Unknown"

  if owner is not None:
    print(f"{owner} has a {breed} {prediction} who's {pet_age} years old!")
  else:
    print(f"This {breed} is {prediction} {pet_age} years old!")
  return prediction

In [ ]:
pred = prob_to_name(0.8, "persian", pet_age=5)

This persian is Cat 5 years old!

In [ ]:
print(pred)

Cat

In [7]:
num_list =[3, 5, 6, 4]
name_list = ['Ali', 'Jack', 'Jane', 'Joe']
comb_list = [3.4, 'Sam', 31, True, 'Dlnia']

In [5]:
len(name_list)
name_list[0:2]

['Ali', 'Jack']

In [9]:
comb_list[1:-1]

['Sam', 31, True]

In [11]:
comb_list[1:]
comb_list[2] = 3.145
print(comb_list)

[3.4, 'Sam', 3.145, True, 'Dlnia']

In [12]:
name_list + comb_list

['Ali', 'Jack', 'Jane', 'Joe', 3.4, 'Sam', 3.145, True, 'Dlnia']

In [15]:
list_to_list = [[34, 'Sam', 3.1415, True], [32, 41]]
list_to_list [0][2]
list_to_list [1][1]

41

In [17]:
max(num_list)
min(num_list)

3

In [19]:
'Ali' in name_list

True

In [20]:
cat = ['Persian', 'White', 'Blue']
#breed = cat[0]
#color = cat[1]
#eye_color = cat[2]
breed, color, eye_color = cat

In [21]:
breed, color, eye_color

('Persian', 'White', 'Blue')

In [22]:
simple_tuple = ("Ali", 344, 32.5)

In [26]:
simple_tuple[0]

'Ali'

In [27]:
import random
def simple_function(first_name, last_name, guess_age=False):
  full_name = first_name + ' ' + last_name
  if guess_age:
    age = random.randint(10, 50)
  else:
    age = None
  return full_name, age

In [29]:
out = simple_function('Jimmy', 'Jambo', guess_age=True)
print(out)

('Jimmy Jambo', 14)

In [31]:
i = 0
for item in comb_list:
  print(f"{i} ---->{item}")
  #i = i + 1
  i += 1

0 ---->3.4
1 ---->Sam
2 ---->3.145
3 ---->True
4 ---->Dlnia

In [32]:
for ind, item in enumerate(comb_list):
  print(f"{ind} ----> {item}")

0 ----> 3.4
1 ----> Sam
2 ----> 3.145
3 ----> True
4 ----> Dlnia

In [33]:
list(enumerate(comb_list))

[(0, 3.4), (1, 'Sam'), (2, 3.145), (3, True), (4, 'Dlnia')]

In [34]:
index = [1, 2, 3, 4, 5]
names = ['A1', 'A2', 'A3', 'A4', 'A5']
names_2 = ['B1', 'B2', 'B3', 'B4', 'B5']
for ind, name, name_2 in zip(index, names, names_2):
  print(f"Index {ind} ---> {name}, {name_2}")

Index 1 ---> A1, B1
Index 2 ---> A2, B2
Index 3 ---> A3, B3
Index 4 ---> A4, B4
Index 5 ---> A5, B5

In [35]:
list(zip(index, names, names_2))

[(1, 'A1', 'B1'),
 (2, 'A2', 'B2'),
 (3, 'A3', 'B3'),
 (4, 'A4', 'B4'),
 (5, 'A5', 'B5')]

In [50]:
name_list = ['Ali', 'Jack', 'Jane', 'Joe']

In [51]:
name_list.index('Ali')
name_list.append('Dlnia')
name_list.remove('Jack')
print(name_list)

['Ali', 'Jane', 'Joe', 'Dlnia']

In [52]:
name_list.sort(reverse=True)

In [53]:
name_list

['Joe', 'Jane', 'Dlnia', 'Ali']

In [57]:
name_list.count('Ali')

1

In [59]:
even_num = [] #اعداد زوج 0 تا 20
for i in range(11):
  even_num.append(i*2)

print(even_num)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [61]:
even_num1 = [i*2 for i in range(11)] #generate even number in 0 to 20!
print(even_num1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [64]:
a_1 = "Kitty"
a_2 = a_1
a_2 ="Puppy"

In [65]:
print(a_1)
print(a_2)

Kitty
Puppy

In [74]:
list_1 = [25, 14, 45, 93]
list_2 = list_1
list_2[1] = "Bambooo"

In [75]:
print(list_1)
print(list_2)

[25, 'Bambooo', 45, 93]
[25, 'Bambooo', 45, 93]

In [77]:
list_1 = [25, 14, 45, 93]
list_2 = list_1 [:] #یک آدرس جدید از حافظه به لیست 2 اختصاص می دهد!
list_2[1] = "Bambooo"

In [80]:
print(list_1)
print(list_2)
print(id(list_1))
print(id(list_2))

[25, 14, 45, 93]
[25, 'Bambooo', 45, 93]
140590571326912
140590570196608

In [81]:
def get_odds(num_list: list):
  for num in num_list:
    if num % 2 == 0:
      num_list.remove(num)
  return num_list

In [84]:
my_list = [3, 5, 6, 78]
print(f"my_list before function call \t--> {my_list}")

my_list_odd = get_odds(my_list[:])

print(f"my_list_odd \t\t\t--> {my_list_odd}")
print(f"my_list after function call \t--> {my_list}")

my_list before function call 	--> [3, 5, 6, 78]
my_list_odd 			--> [3, 5, 78]
my_list after function call 	--> [3, 5, 6, 78]

In [90]:
name = 'ali khosravi'
name[2]

'i'

In [98]:
print(name.title())
print(name.upper())
print(name[0].isupper())
print(name[0])
print(name.split())
print(name.startswith('al'))

Ali Khosravi
ALI KHOSRAVI
False
a
['ali', 'khosravi']
True